+b.modal(x-data="modal()", @keydown.window.escape="modalClose()" @open-modal.window="modalOpen()", :class="{'modal--open': show === true}")
  +e.overlay
    +e.inner(@click.away="modalClose()")
      +e.BUTTON.close(type="button", aria-label="close", @click.prevent="modalClose()")
        +icon('close')(width="14", height="14")
      +e.FORM.form(action="", method="POST")
        +e.H2.title Авторизация
        +input('email-input', 'E-mail', 'email', 'Введите e-mail', 'email', 'modal__form-input')
        +input('password-input', 'Пароль', 'password', 'Введите пароль', 'password', 'modal__form-input')
        +btn('Войти', 'submit', 'modal__form-btn')
