+b.SECTION.banner
  +e.container.container
    +e.__inner
      +e.H2.title Регистрируйся и&nbsp;получай актуальные запросы на&nbsp;автомобили от&nbsp;заинтерисованных клиентов
      +lnk('Регистрация', '#', 'banner__btn')
