+b.hero
  +e.container.container
    +e.info-col
      +e.H1.title Подбор авто в&nbsp;лизинг по&nbsp;выгодной цене
      +e.P.text IT&nbsp;платформа по&nbsp;быстрому поиску автомобиля от&nbsp;официальных дилеров&nbsp;РФ
      +lnk('Регистрация', '#', 'hero__btn')
