mixin card(cardData)
  +b.card
    +e.info-col
      +e.H3.title !{cardData.title}
      +e.P.text !{cardData.text}
    +e.img-col
      +e.IMG.img(src= cardData.img, alt= cardData.title, width= cardData.width, height= cardData.height)
