extends ../layout/layout

block variables
  - var pageTitle = 'index'


block content
  .page-index__wrapper
    include ../../blocks/header/header
    include ../../blocks/hero/hero
  .main
    include ../../blocks/advantages/advantages
    include ../../blocks/banner/banner
