- var advantagesData = getData('advantages');

+b.SECTION.advantages
  +e.container.container
    +e.H2.title Меньше условий&nbsp;&mdash; больше возможностей
    +e.inner
      each card in advantagesData
        +card(card)
