head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title #{pageTitle}
  link(rel="preload", crossorigin="anonymous", as="font", href="fonts/whitney.woff2")
  link(rel="preload", crossorigin="anonymous", as="font", href="fonts/whitneysemibold.woff2")
  link(rel="stylesheet" href="./css/" + pageTitle + ".css")
block head
