+b.HEADER.header
  +e.container.container
    include ./../logo/logo
    +e.NAV.nav
      +e.UL.nav-list
        +e.LI.nav-item
          +e.A.nav-link(href="#") Клиентам
        +e.LI.nav-item
          +e.A.nav-link(href="#", x-data="", @click.prevent="$dispatch('open-modal')")
            +icon('enter')(width="24", height="24")
            | Войти

